:root{
    --corTitulo: #003141;
    --corBotaoPadrao: #00a5da;
    --corBotaoLimpar: #ffc107;
    --corBotaoEnviar: #28a745;
    --corBotaoInscreverse: #00a5da;
    --corBotaoSair: #dc3545;
    --corHover: #006585;
    
  }